<div class="container-fluid" style="margin:0px;padding:0px">
  <div class="row" style="margin:0px;padding:0px">
   <div class="col-md-3" style="padding:0px;margin:0px;">
      <link rel="stylesheet" href="http://js.arcgis.com/3.8/js/dojo/dijit/themes/claro/claro.css">
    <link rel="stylesheet" href="http://js.arcgis.com/3.8/js/dojo/dojox/widget/ColorPicker/ColorPicker.css">
    <link rel="stylesheet" href="http://js.arcgis.com/3.8/js/esri/css/esri.css">

    <style>
      html, body, #map {
        height:100%;
        width:100%;
        margin:0;
        padding:0;
      }
      .dojoxColorPicker {
        position: absolute;
        top: 15px;
        right: 15px;
        -moz-box-shadow: 0 0 7px #888;
        -webkit-box-shadow: 0 0 7px #888;
        box-shadow: 0 0 7px #888;
      }
    </style>

    <script src="http://js.arcgis.com/3.8/"></script>
    <script>
      var map;
      
      require([
        "esri/map", "esri/geometry/Point", 
        "esri/symbols/PictureMarkerSymbol", "esri/graphic",
        "dojo/_base/array", "dojo/dom-style", 
        "dojo/domReady!"
      ], function(
        Map, Point,
        PictureMarkerSymbol, Graphic,
        arrayUtils, domStyle, ColorPicker
      ) {

        map = new Map("map",{
          basemap: "streets",
          center: <%=@points[0]%>,
          zoom: 13,
          minZoom: 2
        });
        
        map.on("load", mapLoaded);
      
        function mapLoaded(){

          var points = <%=@points%>;
          var initColor = "#ce641d";
          var ms = new PictureMarkerSymbol('/assets/marker_info.png',50,60)
          arrayUtils.forEach(points, function(point) {
            var graphic = new Graphic(new Point(point), ms);
            map.graphics.add(graphic);
          });
          
        };
        
        function createSymbol(path, color){
          var markerSymbol = new esri.symbol.SimpleMarkerSymbol();
          markerSymbol.setPath(path);
          markerSymbol.setColor(new dojo.Color(color));
          markerSymbol.setOutline(null);
          return markerSymbol;
        };
      });
    </script>

      <div id="map" style="min-height:550px;height:100%"></div>
    <div id="picker1"></div>
   </div>
   <div class="col-md-9" style="padding-left:20px;">
    <h4 style="color:#2ecc71;margin-top: 40px;padding-left: 0;">Available Listings</h4>
    <table class="table table-hover table-condense">
    
      <% @spots.each do |spot|%>
      <tr>
        <td><a data-toggle="modal" data-target="#myModal<%=spot.id%>" style="cursor:pointer;"><%= image_tag spot.image.url, style: "width:150px;" %></a></td>
        <td><%= spot.address%></td>
        <th style="width:250px;"><%= spot.description%></th>
        <td style="color:#2ecc71;">$<%= spot.price%>/hour</td>
      </tr>
      <% end %>
  
    </table>
   </div>
  </div>
</div>
</div>

<!-- Modal -->
<% @spots.each do |spot|%>

<div class="modal fade" id="myModal<%=spot.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="padding-top:100px;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel" style="color:#2ecc71;padding-left: 20px;">Available Spot</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6"><%= image_tag spot.image.url, style: "width:260px;" %>
                    <p style="padding-top:15px;font-size:13px"><%= spot.address%>
                        <br> <span style="font-size:15px;color: #2ECC71;">From 14:30h - 21:30. 04/15/2014</span></p>

                </div>
                <div class="col-xs-6">
                    <p>
                        <table>
                            <tr>
                                <td><img src="assets/user.png" alt="David"> </td>
                                <td><%spot.user.email if spot.user%> </td>
                            </tr>    
                        </table>
                        
                    </p><p><span class="glyphicon glyphicon-star"></span> 
      <span class="glyphicon glyphicon-star"></span> 
      <span class="glyphicon glyphicon-star"></span> 
      <span class="glyphicon glyphicon-star-empty"></span> 
     </p>
                    <p style="margin-bottom:0px;"><span class="glyphicon glyphicon-info-sign"></span>
                       <%=spot.description%>. </p>
                    <h6 style="margin:0px;text-decoration:underline;">Contact me</h6>    
                   
                </div>
            </div>
        </div>        
      </div>
      <div class="modal-footer">
        <h4 style="color:#2ECC71;margin:0 0 10px 0;padding:0px;">Your Total: $<%=spot.price%></h4>
        <%= button_to "Book!", book_url(:spot => { :id => spot.id }), class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
<%end%>
