<div class="row" style="margin-top:60px;">
  <div class="col-xs-6 col-sm-4"></div>

  <div class="col-xs-6 col-sm-4" style="text-align:center;"> 

  	<img src="/assets/booked.png" style="width:200px;">
  	<h4 style="color:#2ecc71;padding-left: 20px;">Spot Booked!</h4>

  </div>

  <div class="clearfix visible-xs"></div>
  <div class="col-xs-6 col-sm-4"></div>
</div>