<%= simple_form_for(@profile) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_id %>
    <%= f.input :name %>
    <%= f.input :surname %>
    <%= f.input :fullname %>
    <%= f.input :telephone %>
    <%= f.input :picture %>
    <%= f.input :credit_account %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
