<h1>Listing profiles</h1>

<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Fullname</th>
    <th>Telephone</th>
    <th>Picture</th>
    <th>Credit account</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @profiles.each do |profile| %>
  <tr>
    <td><%= profile.user_id %></td>
    <td><%= profile.name %></td>
    <td><%= profile.surname %></td>
    <td><%= profile.fullname %></td>
    <td><%= profile.telephone %></td>
    <td><%= profile.picture %></td>
    <td><%= profile.credit_account %></td>
    <td><%= link_to 'Show', profile %></td>
    <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
    <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Profile', new_profile_path %>
