<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @profile.user_id %>
</p>

<p>
  <b>Name:</b>
  <%= @profile.name %>
</p>

<p>
  <b>Surname:</b>
  <%= @profile.surname %>
</p>

<p>
  <b>Fullname:</b>
  <%= @profile.fullname %>
</p>

<p>
  <b>Telephone:</b>
  <%= @profile.telephone %>
</p>

<p>
  <b>Picture:</b>
  <%= @profile.picture %>
</p>

<p>
  <b>Credit account:</b>
  <%= @profile.credit_account %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
