<div style="margin-top:80px;">
<div class="col-md-1 col-lg-1">
</div>
<div class="col-md-4 col-lg-4">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <h2>SIGN UP</h2>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
     <%= f.submit 'Sign up', :class => 'btn right' %>
  <% end %>
</div>
<div class="col-md-2 col-lg-2">
  <span style="text-align: center;
margin: 129px 40px;
font-size: 30px;
background: #ff6050;
padding: 20px;
color: white;
border-radius: 40px;
top: 40%;
overflow: hidden;
border-top: solid 3px white;">OR</span>
</div>

<div class="col-md-4 col-lg-4">
  <%= form_for(:user, :url => session_path(:user)) do |f| %>
    <h2>SIGN IN</h2>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>

     <%= f.submit 'Sign in', :class => 'btn right' %>
  <% end %>
</div>
</div>

