
<!--******************************************-->
<!--END INTRODUCING A MAP BY DEVELOPERS.ARCGIS.COM-->
<!--******************************************-->


<div class="page-coach">
 <!--Showing ARCGIS MAPS AND BUTTONS-->
 
    

    
	<div class="portrait-coach">
        <span  style="top:40px; left:28px;" class="coach-arrow arrow1">
        	<h3 style="padding-top:35px; padding-left:100px">TOGGLE</h3>
            <p style="padding-top:0px; padding-left:100px;">TOGGLES THE NAVIGATION!</p>
        </span>
        
        <span  style="top:170px; left:90px; width:320px;" class="coach-arrow arrow2">
        	<h3 style="padding-top:20px; padding-right:50px">SWIPE THE SLIDER</h3>
            <p style="padding-top:00px; padding-right:50px;">SWIPE LEFT OR RIGHT<br>TO CHANGE THE IMAGE!</p>
        </span>
        
        <span  style="top:300px; left:20px;" class="coach-arrow arrow9">
        	<h3 style="padding-top:0px; padding-left:110px">SWIPE THE PAGE!</h3>
            <p style="padding-top:0px; padding-left:110px;">DRAG THE CONTENT TO THE <br>RIGHT TO SEE THE NAVIGATION!</p>
        </span>
       
        <span  style="top:400px; left:120px;" class="coach-arrow arrow16">
        	<h3 style="margin-left:-50px; padding-top:15px;">TAP ANYWHERE TO CLOSE!</h3>
            <p style="margin-left:-162px; padding-left:110px;">CLOSE THE COACH, TAP THE PAGE!</p>
        </span>
       
    </div>    
    <div class="landscape-coach">        
        <span style="left:47%; top:15%;" class="coach-arrow arrow12">
            <p style="text-align:center; padding-top:100px; margin-left:-160px;">
            	This page has a lot of responsive features!<br>
                That means they expand when the device is in landscape!<br>
				Flip your device back in portrait mode to continue the tutorial!<br>      
            </p>
        </span>
    </div>
</div>

<div class="all-elements">
    <div class="page-header">
        <p class="logo">
            <img src="assets/logo.png" width="78">
        </p>
        <a href="#" class="deploy-sidebar"></a>
        <a href="#" class="deploy-contact"></a>
    
    </div>
      
    <div id="content" class="page-content">

   
        <div class="page-content-wrapper">
              
        <div class="container no-bottom">
                  <div id="map">
            <div id="LocateButton"></div>
        </div>             
           
        </div>
        
        <div class="decoration"></div>
    
        <div class="container no-bottom">
            <div class="heading half-bottom">
                <div class="heading-left">
                    <em>recent stuff from</em>
                    <h3>OUR PORTFOLIO</h3>
                </div>
                <div class="heading-right">
                    <span class="icon icon-image2"></span>
                </div>
            </div>
            <p>
            	Projects can be be viewed on our <a href="gallery.html">gallery page</a>, where you can browser more projects and see them in a full page! Check out our gallery page!
            </p>  
        </div>
    </div>
</div>




















=======
    <!--INTRODUCING A MAP BY DEVELOPERS.ARCGIS.COM-->
    <!--******************************************-->
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no"/>
      <title>Simple Map</title>
      <link rel="stylesheet" href="http://js.arcgis.com/3.8/js/esri/css/esri.css">
      <style>
        html, body, #map {
          height: 100%;
          width: 100%;
          margin: 0;
          padding: 0;
        }
        body {
          background-color: #FFF;
          overflow: hidden;
          font-family: "Trebuchet MS";
        }
        #LocateButton {
        position: absolute;
        top: 95px;
        left: 20px;
        z-index: 50;
      }
      </style>
      <script src="http://js.arcgis.com/3.8/"></script>
      <script>
        var map;

        require(["esri/map",  "esri/dijit/LocateButton", "dojo/domReady!"], function(Map, LocateButton) {
          map = new Map("map", {
          basemap: "topo",
          center: [-122.45,37.75],  // long, lat
          zoom: 13,
          sliderStyle: "small",
          basemap: "streets"
        });
              
        geoLocate = new LocateButton({
          map: map
        }, "LocateButton");
        geoLocate.startup();
        });
      </script>

    <!--******************************************-->
    <!--END INTRODUCING A MAP BY DEVELOPERS.ARCGIS.COM-->
    <!--******************************************-->


    <div class="content">
     
      <!-- Showing the map by DEVELOPERS.ARCGIS.COM-->
       <div id="map">
            <div id="LocateButton"></div>
        </div>
      
    
>>>>>>> 1aa344ddcdd8b5cc0f79c769da67b8129f246cd7

  <!-- Begin of  .to_the_top --> 
  <div id="to_the_top"></div>
  <!-- End of .to_the_top  -->
  
  </div><!-- end of layout -->
  <!-- Footer Section -->


  
