<div style="width:80%; margin: 20% auto 0%; text-align:center;">
<h1>Welcome to<br/> ParkaLot</h1>
</div>

<div style=" width:80%; margin: 2% auto;">
<%= form_for(:user, :url => session_path(:user)) do |f| %>
  <%= f.text_field :email, placeholder: "email" %>
  <%= f.password_field :password, placeholder: "password" %>
  <%= f.submit 'Sign in' %>
<% end %>
</div>