<%= simple_form_for(@booking) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :renter_id %>
    <%= f.input :booker_id %>
    <%= f.input :spot_id %>
    <%= f.input :check_in %>
    <%= f.input :check_out %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
