<h1>Listing bookings</h1>

<table>
  <tr>
    <th>Renter</th>
    <th>Booker</th>
    <th>Spot</th>
    <th>Check in</th>
    <th>Check out</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bookings.each do |booking| %>
  <tr>
    <td><%= booking.renter_id %></td>
    <td><%= booking.booker_id %></td>
    <td><%= booking.spot_id %></td>
    <td><%= booking.check_in %></td>
    <td><%= booking.check_out %></td>
    <td><%= link_to 'Show', booking %></td>
    <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
    <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Booking', new_booking_path %>
