<p id="notice"><%= notice %></p>

<p>
  <b>Renter:</b>
  <%= @booking.renter_id %>
</p>

<p>
  <b>Booker:</b>
  <%= @booking.booker_id %>
</p>

<p>
  <b>Spot:</b>
  <%= @booking.spot_id %>
</p>

<p>
  <b>Check in:</b>
  <%= @booking.check_in %>
</p>

<p>
  <b>Check out:</b>
  <%= @booking.check_out %>
</p>


<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
