


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="padding-top:100px;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel" style="color:#2ecc71;padding-left:0px;">Create New Spot</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for @spot do |f|%>
          <div class="form-group">
            <%= f.input :address, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.input :license, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.input :price, class: 'form-control' %>
          </div>
            <%= f.input :description, class: 'form-control' %>

          <div class="form-group">
            <%= f.input :image, class: 'form-control', as: :file %>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"> I agree to the Terms & Condiciotions.
            </label>
          </div>
        
      </div>
      <div class="modal-footer">
        <%= f.submit "Save", class: "btn btn-primary"%>
      </div>
    </div><%end%>
  </div>
</div>





<div class="container-fluid" style="margin:0px;padding:0px">
  <div class="row" style="margin:0px;padding:0px">
   <div class="col-md-3" style="padding:0px;margin:0px;">    
   <%= image_tag 'user_big.png', style: 'border-radius:50%; padding:20px;', class: 'col-md-10 col-md-offset-1'%>
   <div style="padding-left:30px;padding-top:30px;">
     <p>User Email: <%= @user.email %></p>
     <p>Contact:</p>
     <p><span class="glyphicon glyphicon-star"></span> 
      <span class="glyphicon glyphicon-star"></span> 
      <span class="glyphicon glyphicon-star"></span> 
      <span class="glyphicon glyphicon-star-empty"></span> 
     </p>
     <%= link_to edit_user_registration_path, class: 'btn lightgreen pull-right'  do%>
     <span class="glyphicon glyphicon-pencil"></span>Edit Account
      <%end%>
    </div>
   </div>
   <div class="col-md-9" style="padding-left:20px;">
    <h4 style="color:#2ecc71;margin-top: 40px;padding-left: 0;">My Parking Spots</h4>
    <div style="padding-bottom:15px;">
     <a data-toggle="modal" data-target="#myModal" style="cursor:pointer;"> <button type="submit" class="btn"><span class="glyphicon glyphicon-plus"></span> Create new spot</button></a>
    </div>

    <table class="table table-hover table-condense">
      <% @spots.each do |spot|%>
      <tr>
        <td><a data-toggle="modal" data-target="#myModal<%=spot.id%>" style="cursor:pointer;"><%= image_tag spot.image.url, style: "width:150px;" %></a></td>
        <td><%= spot.address%></td>
        <th style="width:250px;"><%= spot.description%></th>
        <td style="color:#2ecc71;">$<%= spot.price%>/hour</td>
        <td style="color:#2ecc71;"><button type="submit" class="btn"><span class="glyphicon glyphicon-pencil"></span> Edit</button></td>

      </tr>
      <% end %>
  
    </table>
   </div>
  </div>
</div>
