



  <div class="subheader">
   <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12617.517807460314!2d-122.4376!3d37.75769999999991!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan+Francisco%2C+California!5e0!3m2!1ses!2ses!4v1393032711818" width="100%" height="972" frameborder="0" style="border:0"></iframe>-->


   <div class="container">
    <h1>Find your Non Tow Away Spot</h1>
    <span><h4>Rent from people all over the city.</h4></span>
    <%= form_tag('/spots', method: :get, :class => "form-inline", :style => "padding: 30px 0px;
background-color: rgba(255,255,255,0.2);
border-radius: 20px;
border: solid 2px white;") do %>

      <div class="form-group">
        <label class="sr-only" for="exampleInputEmail2">Where do you want to park?</label>
        <input type="" class="form-control" style="width:270px;" placeholder="Where do you want to park?">
      </div>
      <div class="form-group">
        <label class="sr-only" for="exampleInputPassword2">Check in</label>
        <input data-format="MM/dd/yyyy HH:mm:ss PP" type="" class="form-control"  placeholder="Check in" data-behaviour='datepicker' id="datetimepicker1">
      </div>
      <div class="form-group" >
        <label class="sr-only " for="exampleInputPassword2">Check out</label>
        <input data-format="MM/dd/yyyy HH:mm:ss PP" type="" class="form-control"  placeholder="Check out" data-behaviour='datepicker' id="datetimepicker2">
      </div>
      <%= submit_tag 'Search', :class=>"btn"%>
    <%end%>

    <div class="clearfix"></div>
    
    <a href="#about" class="down"></a>
  </div><!-- end of container in subheader -->

</div> <!-- end of subheader -->
<!-- Section About -->
<section id="about" style="padding: 80px 0 20px 0;">

  <div class="container">

    <ul>

      <li>
        <span class='icons-img1'></span>
        <h6>Rent your Non Tow Away Spot</h6>
        <p>Register and add your Non Tow Away Spot to our market place. Select days and hours in which your Non Tow Away spot will be available.</p>
      </li>
      <li>
        <span class='icons-img2'></span>
        <h6>Download the App </h6>
        <p>Park wherever you are and whenever you want. Parkalot App gives you real time information about the available Non Tow Away Spots.</p>
      </li>
      <li>
        <span class='icons-img3'></span>
        <h6>Decide the price</h6>
        <p>Decide what you want to earn from your Non Tow Away Spot and put your price.</p>
      </li>
      <li>
        <span class='icons-img4'></span>
        <h6>Book a Non Tow Away Spot</h6>
        <p>Select the Non Tow Away Spot that best fits your schedule and book it. You can pay with your credit card!</p>
      </li>
    </ul><!-- end of list of services -->

  </div><!-- end of container in about section -->

</section> <!-- end of about  -->


<!-- Begin of  #sticker 
<section id="about" style="padding-top:20px;border-top:1px solid #f4f4f4;">
  <div class="container" style="padding-bottom:0px;padding-top:20px;">

    <ul>

      <li>
        <img src="assets/tag.png" alt="" style="width:400px;">
      </li>
      <li>
        <h6>Download the App </h6>
        <p>Park wherever you are and whenever you want. Parkalot App gives you real time information about the available Non Tow Away Spots.</p>
      </li>

    </ul>
  </div>
 </section>   --> 



<!-- Begin of #clients  --> 
<section id="clients">
  <!-- Begin of  .container --> 
  <div class="container">
    <h2>ParkaLot App</h2>
    <p>Search where are the free spots near you and book the one that best fits your needs! Book it and pay it with your mobile.</p>

    <img src="assets/device/iphone5.png" alt="" style="width:850px;">

    

  </div>
  <!-- End of .container  -->
  
</section>
<!-- End of #clients  -->


<!-- Begin of  #contact --> 
<section id="contact" style="padding-top:0px;">
  <!-- Begin of  .container --> 
  <div class="container" style="padding-bottom:60px;">
    <h2>Contact Us</h2>
    <p>We are waitig for your questions or feedback!</p>
    <form action="form_data.php" method="post" novalidate class='contact-form'>
      <div class="left">
        <input type="text" placeholder='Name' class='form-name' name='name' id='name'>
        <input type="email" placeholder='Email' class='form-email' name='email' id='email'>
        <input type="text" placeholder='Phone' class='form-phone' name='phone' id='phone'>
      </div>
      <div class="left righ">
        <textarea placeholder='Message' class='form-message' name='message' id='message'></textarea>
        <button class="btn lightgreen">Send Message</button>
      </div>
    </form>
  </div>
  <!-- End of .container  -->
  <style>
  #contact > div.container > form input {
    padding-left: 60px;
  }
  </style>
  
  
  
  <!-- Begin of #order_now  --> 
  <div id="order_now">

    <!-- Begin of  .container --> 
    <div class="container" style="padding-bottom:40px;">
      <h3>Want to Download ParkaLop App? Coming Soon!</h3>
      <img src="assets/appstore.png" alt="" style="margin-right:5px;"><img src="assets/googleplay.png" alt="" style="margin-left:5px;">
    </div>
    <!-- End of .container  -->
    
  </div>
  <!-- End of #order_now  -->
  
</section>
<!-- End of #contact  -->



  