
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=7, IE=9, IE=10">
<!--The viewport meta tag is used to improve the presentation and behavior of the samples
on iOS devices-->
<meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no">
<title>Validate Attributes</title>
<!-- include dojo theme -->
<link rel="stylesheet" href="http://serverapi.arcgisonline.com/jsapi/arcgis/3.5/js/dojo/dijit/themes/claro/claro.css">
<link rel="stylesheet" href="http://serverapi.arcgisonline.com/jsapi/arcgis/3.5/js/esri/css/esri.css">
<style>
.dj_ie .infowindow .window .top .right .user .content {
position: relative;
}
.dj_ie .simpleInfoWindow .content {
position: relative;
}
html, body {
height: 100%;
width: 100%;
margin: 0;
padding: 0;
overflow: hidden;
}
#leftPane {
overflow: hidden;
border: none;
color: #5C832F;
}
#map {
border: solid medium #382513;
padding: 0;
}
.esriAttributeInspector {
atiLayerName: 'Building Details'
}
.templatePicker {
border: none !important;
}
.templatePicker .grid .groupLabel {
display: none;
}
</style>
<!-- specify dojo configuration to parse dijits at load time -->
<script>
var dojoConfig = {
parseOnLoad : true
};
</script>
<!-- reference ArcGIS JavaScript API -->
<script src="http://serverapi.arcgisonline.com/jsapi/arcgis/3.5/"></script>
<script>
//require selection dijit
dojo.require("esri.map");
dojo.require("esri.dijit.editing.Editor-all");
dojo.require("dijit.layout.ContentPane");
dojo.require("dijit.layout.BorderContainer");
dojo.require("dijit.form.ValidationTextBox");
var map;
function init() {
//This sample requires a proxy page to handle communications with the ArcGIS Server services. You will need to
//replace the url below with the location of a proxy on your machine. See the 'Using the proxy page' help topic
//for details on setting up a proxy page.
esri.config.defaults.io.proxyUrl = "/proxy";
//This service is for development and testing purposes only. We recommend that you create your own geometry service for use within your applications.
esri.config.defaults.geometryService = new esri.tasks.GeometryService("http://tasks.arcgisonline.com/ArcGIS/rest/services/Geometry/GeometryServer");
map = new esri.Map("map", {
basemap : "topo",
center : [-117.282, 34.289],
zoom : 13,
slider : false
});
dojo.connect(map, "onLayersAddResult", initEditor);
//Add the editable feature layer to the map
//Add the editable feature layer to the map
var pointsOfInterest = new esri.layers.FeatureLayer("http://services1.arcgis.com/CHRAD8xHGZXuIQsJ/arcgis/rest/services/Fire_Locations/FeatureServer/0", {
mode : esri.layers.FeatureLayer.MODE_ONDEMAND,
outFields : ['*']
});
map.addLayers([pointsOfInterest]);
}

function initEditor(results) {
//only one layer
var featureLayer = results[0].layer;
var templatePicker = new esri.dijit.editing.TemplatePicker({
featureLayers : [featureLayer],
rows : 'auto',
groupingEnabled : false,
columns : 1
}, 'editorDiv');
templatePicker.startup();
//define the fields the attribute inspector contains
//phone number ^\\(?(\\d{3})\\)?[- ]?(\\d{3})[- ]?(\\d{4})$
//zip code ^(\\d{5}-\\d{4})|(\\d{5})$
var myDijit = new dijit.form.ValidationTextBox({
regExp : "\\(?(\\d{3})\\)?[- ]?(\\d{3})[- ]?(\\d{4})",
required : false,
promptMessage : "Enter phone number",
invalidMessage : "Enter valid phone number",
});
var layerInfos = [{
'featureLayer' : featureLayer,
'showAttachments' : false,
'showDeleteButton' : true,
'fieldInfos' : [
//{'fieldName':'phone','label':'Phone','customField':myDijit},
{
'fieldName' : 'DATE',
'label' : 'Date'
}, {
'fieldName' : 'INCIDENT_NAME',
'label' : 'Incendent Name'
}, {
'fieldName' : 'INCIDENT_KIND',
'label' : 'Incident Kind'
}, {
'fieldName' : 'COUNTY',
'label' : 'County'
}, {
'fieldName' : 'REGION',
'label' : 'Region'
}, {
'fieldName' : 'STATE',
'label' : 'State'
}, {
'fieldName' : 'NEAREST_CITY',
'label' : 'Nearest City'
}, {
'fieldName' : 'DESCRIPTION',
'label' : 'Description',
'stringFieldOption' : esri.dijit.AttributeInspector.STRING_FIELD_OPTION_TEXTAREA
}, {
'fieldName' : 'LATITUDE',
'label' : 'Latitude'
}, {
'fieldName' : 'LONGITUDE',
'label' : 'Longitude'
}, {
'fieldName' : 'SECTION',
'label' : 'Section'
}, {
'fieldName' : 'TOWNSHIP',
'label' : 'Township'
}, {
'fieldName' : 'RANGE',
'label' : 'Range'
}, {
'fieldName' : 'PERCENT_CONTAINED',
'label' : 'Percentage Contained'
}, {
'fieldName' : 'TWITTER_TAG',
'label' : 'Twitter Tag'
}, {
'fieldName' : 'CURRENT_WEATHER_COND',
'label' : 'Current Weather Conditions'
}, {
'fieldName' : 'FORECASTED_WEATHER',
'label' : 'Forecasted Weather'
}, {
'fieldName' : 'SIZE',
'label' : 'Size'
}, {
'fieldName' : 'UNIT',
'label' : 'Unit'
}]
}];
//define the editor settings
var settings = {
map : map,
templatePicker : templatePicker,
layerInfos : layerInfos
};
var params = {
settings : settings
};
//Create the editor widget
var editorWidget = new esri.dijit.editing.Editor(params);
editorWidget.startup();
//resize the info window (attribute inspector)
map.infoWindow.resize(460, 400);
var box0 = dijit.byId("INCIDENT_NAME");
box0.set("value", "Edan");
}


dojo.ready(init);
</script>
</head>

<body class="claro">
<div data-dojo-type="dijit.layout.BorderContainer" data-dojo-props="design:'sidebar'" style="width:100%;height:100%;">
<div id="map" data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region:'center'"></div>
<div id="leftPane" data-dojo-type="dijit.layout.ContentPane" style="width:100px;" data-dojo-props="region:'left'">
<div>
Click the Notes icon - then click location on map to add new map note. When a new phone number is
entered dojo's ValidationTextBox is used to make sure a properly formatted phone number is entered.
</div>
<div id="editorDiv"></div>
<div></div>
</div>
</div>
</body>
</html>