<div class="container">

  <!-- logo -->
  <a href="<%= root_path %>" >
    <img src="/assets/logo.png" alt="" style="margin-top:22px;width:200px;">
  </a>
  <!-- end of logo -->

  <nav>
    
    <ul>
      <li><a href="#about">About</a></li>
      <li><a href="<%=livemap_path%>">Live Map</a></li>
      <!-- <li><a href="#clients">Mobile App</a></li>
     <li><a href="#team">Team</a></li>
      <li><a href="#contact">Contact</a></li>-->
      <%if user_signed_in?%>
       <li> <a href="<%= user_path(current_user) %>" class="btn" style="height: 45px;">List your spot</a></li>
       <li>
       <ul>
          <%= render 'layouts/navigation_links' %>
        </ul>
       </li> 
      <%else%>
        <li> <a href="<%= new_user_registration_path %>" class="btn" style="height: 45px;">List your spot</a></li>
      <%end%>

  </ul>
  </nav><!-- end of navigation -->

</div><!-- end of container in header -->