<!DOCTYPE html>
<html>
<head>
 <meta name="description" content="">
 <meta name="viewport" content="width=device-width, user-scalable=no">
 <title><%= content_for?(:title) ? yield(:title) : "Parkalot" %></title>
 <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Parkalot" %>">
 <%= stylesheet_link_tag "main/application", media: "all" %>
 <%= javascript_include_tag "main/application" %>
 <link href='http://fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>
 <%= csrf_meta_tags %>
</head>
<body id='top'>
  <div class="layout">

    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <div class="content">

     <%= render 'layouts/messages' %>
     <%= yield %>
   </div> <!-- end of content -->

   <!-- Begin of  .to_the_top --> 
   <div id="to_the_top"></div>
   <!-- End of .to_the_top  -->

 </div><!-- end of layout -->
 <!-- Footer Section -->
 <footer>
  <div class="container">
    <div class="left">
      <a href="http://www.esri.com/"><img src="/assets/esrilogo.png"  style="width:100px;padding-top:15px;" alt=""></a>
      <a href="https://www.heroku.com/"><img src="/assets/herokulogo.png"  style="width:100px;padding-top:20px;" alt=""></a>
      <small><a href="">Thanks for their support.</i></small></a>

      <small> Derechos de autor Iago Rodríguez

Autorizado en virtud de la Licencia de Apache, Versión 2.0 (la "Licencia"); se prohíbe utilizar este archivo excepto en cumplimiento de la Licencia.

Podrá obtener una copia de la Licencia en:

http://www.apache.org/licenses/LICENSE-2.0</small>
  </footer> <!-- end of footer -->

</body>
</html>
