<!DOCTYPE html>
<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <!--Declare page as mobile friendly --> 
      <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0"/>
      <!-- Declare page as iDevice WebApp friendly -->
      <meta name="apple-mobile-web-app-capable" content="yes"/>
      <!-- iDevice WebApp Splash Screen, Regular Icon, iPhone, iPad, iPod Retina Icons -->
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/splash/splash-icon.png"> 
      <!-- iPhone 3, 3Gs -->
      <link rel="apple-touch-startup-image" href="images/splash/splash-screen.png"      media="screen and (max-device-width: 320px)" /> 
      <!-- iPhone 4 -->
      <link rel="apple-touch-startup-image" href="images/splash/splash-screen@2x.png"     media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" /> 
      <!-- iPhone 5 -->
      <link rel="apple-touch-startup-image" sizes="640x1096" href="images/splash/splash-screen@3x.png" />

    <title><%= content_for?(:title) ? yield(:title) : "Parkalot" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Parkalot" %>">
    <%= stylesheet_link_tag "mobile/application", media: "all" %>
    <%= javascript_include_tag "mobile/application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>

    <div id="sidebar" class="page-sidebar">
        <div class="page-sidebar-scroll">
            <div class="nav-item">
                <a href="#" class="nav-icon nav-coach coach-icon">PAGE COACH</a>
            </div>
            <div class="nav-item">
                <a href="index.html" class="nav-icon home-icon">HOMEPAGE</a>
            </div>
            <div class="nav-item">
                <a href="type.html" class="nav-icon type-icon">TYPOGRAPHY</a>
            </div>
            <div class="nav-item">
                <a href="jquery.html" class="nav-icon jquery-icon">jQUERY</a>
            </div>
            <div class="nav-item">
                <a href="other.html" class="nav-icon other-icon">OTHERS</a>
            </div>
            <div class="nav-item">
                <a href="folio.html" class="nav-icon folio-icon">PORTFOLIO</a>
            </div>
            <div class="nav-item">
                <a href="gallery.html" class="nav-icon gallery-icon">GALLERY</a>
            </div>
            <div class="nav-item">
                <a href="video.html" class="nav-icon videos-icon">VIDEOS</a>
            </div>
          </div>
    </header>
    <main role="main">
       <%= yield %>
    </main>
  </body>
</html>
